
@{
    int counter = 0;
    IEnumerable<FashionWebsite.Models.PRODUCTCATOGERY> PRODUCTCATOGERY = ViewBag.PRODUCTCATOGERY as IEnumerable<FashionWebsite.Models.PRODUCTCATOGERY>;
    IEnumerable<FashionWebsite.Models.SUBCATEGORY> SUBCATOGERY = ViewBag.SUBCATEGORY as IEnumerable<FashionWebsite.Models.SUBCATEGORY>;
}
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sản Phẩm<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            @foreach (var item in SUBCATOGERY)
                                            {
                                                <li><a href="@Url.Action("Men","Product")">@item.NAME</a></li>
                                                <ul class="multi-column-dropdown">
                                                    @foreach (var item1 in PRODUCTCATOGERY.Where(x => x.SUBCATEGORYID == item.ID))
                                                    {
                                                        <li><a href="@Url.Action("Productcategory","Product",new { ID=item1.ID})">@item1.NAME</a></li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class=" menu__item"><a class="menu__link" href="@Url.Action("Discount","Product")">Khuyến Mãi</a></li>
                            <li class=" menu__item"><a class="menu__link" href="about.html">Thông tin cửa hàng</a></li>
                            <li class=" menu__item"><a class="menu__link" href="contact.html">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                (Số Lượng: @ViewBag.totalquantity)
                <br /> (Tổng: @ViewBag.totalprice VND)<br />
                @*<form action="/Cart/CheckOut" method="get" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>*@
                @Html.ActionLink("Xem giỏ", "CheckOut", "Cart")

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
